.list {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  li {
    padding: 15px;
    border-radius: 25px;
    background: var(--white);

    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    
  }
}
