.list {
  display: flex;
  gap: 24px 48px;
  flex-wrap: wrap;
  
}
.item {
    padding: 4px 16px;
    border-radius: 25px;
    background: var(--white);

    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  }