.list{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 15px;

    li::marker{
        content: '✧';
        display: block;
        color: var(--green2);
        }
}
@media only screen and (min-width: 500px) {
   .list{
        grid-template-columns: 1fr 1fr;

  }
}