.list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    li{
            margin-left: 24px;

    }

    li::marker{
        content: '✧';
        display: block;
        margin: 50px;
    }
}