.hero {
  display: grid;
  grid-template-columns: 1fr;
  font-family: var(--second-family);
  color: var(--black);
  margin-top: 80px;
  width: 100%;

  img {
    display: none;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  gap: 10px;
}

.text {
  text-align: center;
}

@media only screen and (min-width: 550px) {
  .hero {
    grid-template-columns: 30% 1fr;
  gap: 20px;

    img {
      display: block;
      width: 100%;
      border-radius: 50%;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    margin-top: 100px;
  }
}
