.hero {
  display: grid;
  grid-template-columns: 1fr;
  font-family: var(--second-family);
  color: var(--black);
  width: 100%;
}
.image {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  gap: 10px;
}

.text {
  text-align: center;
}

@media only screen and (min-width: 550px) {
  .hero {
    grid-template-columns: 30% 1fr;
    gap: 20px;
  }
  .image {
    display: block;
    width: 100%;
    border-radius: 50%;
  }
}
