@import url("../../index.css");

.containerForLogo {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.name {
  font-family: var(--second-family);
  font-weight: 700;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  height: 100%;
  font-weight: 500;

  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 0px;
  left: 0;
  z-index: 5;
  height: 80px;
  width: 100%;
  padding: 0 16px;
  background-color: var(--bg);
}

@media only screen and (min-width: 768px) {
  .header {
    height: 100px;
    padding: 0px 40px;
  }
}

.header.isSticky {
  position: fixed;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  animation: slideDown 0.35s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
