.scrollToTopBtn {
  display: none;
}

.scrollToTopBtnActive {
  display: block;
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 99;

  width: 45px;
  height: 45px;
  padding: 6px;

  border: 2px solid var(--brown);
  background: var(--bg);
  border-radius: 35%;

  cursor: pointer;
  transition: box-shadow 0.3s ease-in;

  svg {
    width: 30px;
    height: 30px;
  }
}

.scrollToTopBtnActive:hover,
.scrollToTopBtnActive:focus {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.iconArrow {
  fill: var(--brown);
}
