@import url("../../index.css");

.burgerMenu_icon {
  position: absolute;
  top: calc(100% / 2 - 15px);
  right: 16px;
  cursor: pointer;
  stroke: black;
}

.content {
  position: absolute;
  top: 80px;
  right: 0px;

  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;

  background-color: var(--bg);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 16px 24px;
}
