@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap");

@import url("./reset.css");

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Playwrite CU", cursive;
  --black: #050505;
  --brown: #321a01;
  --green2: #06431b;
  --white: #fffefb;
  --green: #46461c;
  --bg: #90af69;
  --shadow-dark: rgba(0, 0, 0, 0.25);
  --shadow-light: rgba(255, 255, 255, 0.25);
}

body {
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 0.01em;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  margin: 0 auto;
  padding: 32px 20px;
  position: relative;
}

h2,
h3 {
  font-family: var(--second-family);
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
p {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  h2 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
  }
  p {
    font-size: 20px;
  }
  section {
    padding: 48px 40px;
  }
}

@media only screen and (min-width: 1024px) {
  h2 {
    font-size: 68px;
    margin-bottom: 48px;
  }
  p {
    font-size: 28px;
  }
  section {
    padding: 48px 60px;
  }
}

@media only screen and (min-width: 1480px) {
  section {
    padding: 60px 80px;
  }
}

.scroll_mark {
  position: absolute;
  opacity: 0;
  top: -79px;
  left: 0;
}

@media only screen and (min-width: 768px) {
  .scroll_mark {
    top: -99px;
  }
}

.visible-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


