.link {
  font-family: var(--second-family);
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
}

.link:hover {
  color: var(--green);
  font-weight: 700;
  text-shadow: 1px 1px 2px rgb(0, 67, 37), 0 0 1px rgb(17, 80, 62),
    0 0 1px rgb(29, 149, 83);
  cursor: pointer;
}

